.lexis {
  padding: 100px 0;
  background-color: #1d504b;
}
.lexis p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.017em;
  color: #c2c2c2;
  margin-top: 8px;
  font-weight: 500;
}
.lexis h3 {
  margin-top: 24px;
  color: white;
  font-weight: 600;
}
.lexis button {
  margin-top: 24px;
}
.lexis .header .title {
  color: #e8e8a6;
  font-weight: 500;
}
@media (max-width: 1199.98px) {
  .lexis button {
    margin-bottom: 32px;
  }
}
