.button-secondary {
  background-color: #e8e8a6;
  color: #000000;
  font-size: 15px;
  border-color: transparent;
  padding: 4px 12px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
}
.button-secondary:hover {
  background-color: white;
  transition: all 0.5s;
  cursor: not-allowed;
}
