.title h1 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 400;
  font-size: 4.375rem;
  line-height: 80px;
}
.heroSection {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.title h1 span {
  color: #219f94;
}
.heroSection p {
  font-size: 1.5rem;
}
@media (max-width: 767.98px) {
  .container {
    padding: 0 16px;
  }
  .title h1 {
    font-size: 3rem;
    line-height: 60px;
  }
}
